body{
   background-color: azure;
   color: white;
   text-align: center;
}

.container{
   width:1000px;
   height:600px;
   background-color: black;
   margin:auto;
   margin-top: 70px;
}

h1{
    padding-top: 20px;
}

.players{
    width:800px;
    display:flex;
    gap:40px;
    text-align: center;
    padding: 15px;
    margin: auto;
}

.player1{
    width:50%;
}

.player2{
    width:50%;
}



button{
    background-color: aquamarine;
    margin: 10px;
    border:2px solid grey;
    width:100px;
    height:30px;
    border-radius: 10px;
    border-style: double;
    font-size: large;
}

h3{
    color: whitesmoke;
    font-size: larger;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
