body{
    background-color:azure;
}

.container{
    color:rgb(29, 37, 38);
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0 500px;
    height:200px;
}

.container h1{
    margin-top: 20px;
}

.controls input{
    width:130px;
    height:25px;
    border: 2px solid rgb(168, 159, 168);
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.controls input::placeholder{
    color:black;
}

#category{
    width:130px;
    height:30px;
    border: 2px solid rgb(168, 159, 168);
    border-radius: 10px;
    text-align: center;
}


button{
    margin-top: 20px;
    margin-bottom: 20px;
    width:130px;
    height:30px;
    border: 2px solid rgb(168, 159, 168);
    border-radius: 10px;
    font-size: medium;
}

#cards{
    font-size: larger;
}