*{
    box-sizing: border-box;
}

body{
    background-color: indianred;
}

div{
    width:80%;
    height:400px;
    background-color: lightslategray;
    border: 4px solid rgb(88, 52, 122);
    text-align: center;
    padding-top: 40px;
    margin:10% 0 0 10%;
}

h1{
    font-family: "Georgia", 'Times New Roman', Times, serif Calibri, 'Trebuchet MS', sans-serif;
}

section{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

label{
    font-size: larger;
}

input{
    font-size: larger;
    background-color: lightgoldenrodyellow;
}

button {
    width:80px;
    height:35px;
    font-size: larger;
    margin-top: 30px;
    background-color:lightgoldenrodyellow ;
}